<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/javascripts/actionHandler.js"></script>
  </head>
  <body>
  <div id="navmen" class="project-view">

    <% for(var i = 0; i < filesToShow.length; i++) {
      %>
  <a>
    <div onclick="getFile(<%=+ i%>, '<%= filesToShow[i]%>')" class="nav_buttons">
      <h3> <%= filesToShow[i]%> </h3>
    </div>
  </a>
    <hr>
      <%
    }%>
    </div>
  </div>
  <div class="main" id="main">
    <img src="/images/navico.png" onclick="openNav()" style="padding: 10px;" id="changer"><a></a></img>
    <div class="main-content">
      <h1>Welcome, <%=user%>.</h1>
    </div>
  </div>

  </body>
</html>
